<div id="discover">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="discover-title">What 368 resources are?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" >
          <%= image_tag('gaming.png', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Gaming</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" >
          <%= image_tag('podcast.jpg', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Podcast</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" >
          <%= image_tag('product.png', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Production</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" >
          <%= image_tag('kitchen.jpg', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Kitchen</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card" >
          <%= image_tag('event.jpg', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Events</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
